
header{
    z-index:999;
    position: absolute;
    top:0;
    left:0;
    width:100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
    color:white;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap:8px;
    white-space: nowrap;
    font-family: 'Arial', sans-serif;
}

header .brand i {
    font-size: 1.5em; 
    color: #C6A969; 
}

.navigation {
    display: flex;
    gap: 20px;
    flex-grow: 2; 
    justify-content: flex-end; 
}

.brand {
    font-size: 1.8em;
    font-weight: bold;
    flex-grow: 1; 
    color: white; 
}




header .navigation{
    display: flex;
    align-items: center;
    width: 100%;

}
header .navigation .navigation-items {
    display: flex;
    align-items: center;
}

header .navigation .navigation-items a{
     position: relative;
    color: white;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease ;

}

header .navigation .navigation-items a:before{
    content:'';
    position: absolute;
    background: white;
    width:0;
    height: 3px;
    bottom: 0;
    left:0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
    width:100%; 
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 50px;
  margin-right: 70px; 
  
}

.search-container i {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
  color: white;
}

/* Hide the search input by default */
.search-bar {
  width: 0;
  opacity: 0;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.4s ease;
  font-size: 14px;
  background-color: white;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

/* Expand on hover */
.search-container:hover .search-bar {
  width: 160px;
  opacity: 1;
  position: relative;
  transform: translateY(0);
}
.btn-group {
    display: flex;
    gap: 15px; /* Spacing between the two buttons */
}

.btn-group {
    margin-left: auto; /* Pushes this container to the far right */
    display: flex;
    gap: 15px;
}



.btn {
    padding: 10px 15px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 25px;
    margin-left: 5px;
    cursor: pointer;
    opacity: 60%;
}

.btn:hover {
    background-color: #C6A969;
}
